---
---
<!DOCTYPE html>
<html lang="pt">
	{% include head.html %}
	<body>
		{% include global_nav.html %}
		{% include header.html %}
		<main>
			<div class="container">
				<section class="row posts">
					<div class="col-md-2 about hidden-sm">
						Autor
					</div>
					<article class="col-md-10">
						<header>
							<h1>Como o Inbound pode ajudar empresas com ticket e ciclo de vendas extremamente altos</h1>
							<p>Até mesmo empresas com ticket e ciclo de vendas extremamente altos e com visitas presenciais podem se beneficiar com o Inbound Marketing. Saiba como!</p>
						</header>
						<div class="row">
							<main class="col-md-9 post">
								<p>Cada empresa é um ecossistema em si. A combinação de produto, funcionários, parceiros e clientes faz de cada uma um universo muito particular. E por esse motivo, algumas não se enxergam utilizando caminhos e soluções que começam a ficar mais populares, como é o caso do Inbound Marketing.</p>
								<p>Julgando estar em um contexto diferente da maioria, eventualmente vejo resistência de empresas que trabalham com poucos clientes, ticket e ciclo de vendas muito altos e vendas presenciais em aplicar uma estratégia de Inbound.</p>
								<p>Há alguns ângulos que podemos usar para tornar mais claros os benefícios desse caminho e é isso que vamos indicar nesse post.</p>
								<h2>Desafios comuns em um processo de venda muito complexo</h2>
								<p>Em cada modelo de venda, há alguns efeitos colaterais naturais que podem representar problemas ou possibilidades de melhoria. No caso de processos de vendas muito complexos, esses desafios são bastante comuns:</p>
								<p>Em muitas vezes, as vendas dependem de muito conhecimento técnico. Isso vira uma restriçãoPrincipalmente no segmento de tecnologia, é comum que o vendedor seja alguém que passou pelo time técnico e tenha muito conhecimento da solução, atuando como um verdadeiro consultor.O perfil que junte a desenvoltura, os processos e as técnicas de vendas com o conhecimento mais técnico é raro e a empresa em geral conta com poucos bons vendedores, com dificuldades para escalar em volume.</p>
								<h3>Custo de aquisição muito alto</h3>
								<p>O fato de os profissionais de venda nesse contexto serem raros já os torna naturalmente mais caros, mas o problema vai um pouco além.</p>
								<p>As visitas presenciais gastam muito tempo de deslocamento (diminuindo a capacidade de atendimento) e muito dinheiro com transporte (principalmente quando a distância é grande e envolve vôos, hospedagem e alimentação).</p>
								<p>O ticket é alto e suporta isso, já está previsto no modelo. O que não quer dizer que isso não seja um problema e que diminuir o custo de aquisição não seja bem vindo. Em diversos modelos as empresas disruptivas conseguem entrar no mercado justamente ao ter um processo de vendas com custo de aquisição mais barato, que permite uma redução muito significativa de preços.</p>
								<h3>Universo pequeno de potenciais clientes</h3>
								<p>Quando naturalmente há poucos potenciais clientes para uma solução, há muito pouco espaço para erro. O vendedor tem que ser muito assertivo e conseguir agregar valor em cada contato para garantir que a venda de fato aconteça.</p>
								<p>Não dá para se dar ao luxo de estar despreperado, de não ser eficiente no follow up, de perder oportunidades reais.</p>
								<h3>É difícil manter o contato próximo por tanto tempo</h3>
								<p>É preciso muita paciência e resiliência do vendedor para conseguir se manter próximo do potencial cliente por meses e (algumas compras chegam a anos).</p>
								<p>Conseguir trabalhar com as expectativas e ansiedades sabendo que o negócio pode demorar tanto a ser fechado é muito difícil, o que pode impactar a forma como o relacionamento é conduzido e a proximidade do contato.</p>
								<p>O que uma estratégia de Inbound não vai fazer</p>
								<p>Não somos xiitas do Inbound aqui na RD e não achamos que é a solução para todos os problemas e modelos. Muitas vezes a resistência de implementar vem justamente de achar que o modelo tem que substituir as práticas atuais, o que não é o caso.</p>
								<p>Existem coisas que são naturais no processo e que Inbound não vai conseguir resolver. Nesses casos em especial:</p>
								<p>Esperar que substitua todas as reuniões presenciais e necessidade de alto contato</p>
								<p>O conteúdo e a Automação de Marketing vão ajudar, mas nunca vão substituir as reuniões presenciais e o contato necessário para que alguns negócios avancem.</p>
								<p>A capacidade de entender uma postura corporal, reagir a comentários, criar rapport, vínculos e confiança é muito maior quando estamos ao vivo e para determinados compradores (principalmente em empresas grandes) é primordial que isso aconteça.</p>
								<p>Virar uma fonte inesgotável de novos negócios</p>
								<p>Muitas vezes a estratégia de Inbound vai sim atrair algumas empresas, mas em outras tantas vai servir mais como mecanismo de relacionamento e preparação para a venda.</p>
								<p>Quanto menor o volume de empresas alvo, maior a tendência de conseguir o contato em outros canais (eventos, parceiros, abordagem direta, etc) e tocar no Inbound dali em diante.</p>
								<p>Outros canais e tipos de investimento continuam fazendo a diferença.</p>
								<p>Como Inbound de fato vai ajudar</p>
								<p>Dado todo o contexto em mais detalhes, finalmente chegamos ao ponto principal do post.</p>
								<p>Uma estratégia efetiva de Inbound Marketing tem sim um potencial imenso de ROI e pode ajudar muito nessas situações se a estratégia for bem adaptada para o caso e a empresa conseguir extrair etapas e práticas específicas que mais fazem sentido para o contexto.</p>
								<p>Garantia de ser encontrado quando os poucos alvos precisam de uma informação/solução</p>
								<p>Pode ser que de fato poucas empresas procurem pela sua área de atuação, mas com as opções limitadas, é impensável perder um desses clientes quando eles de fato estão ativamente procurando por informações na área.</p>
								<p>Ter um bom acervo de conteúdo e conseguir gerar autoridade no Google são trabalhos essenciais para conseguir aparecer como opção natural no tema. O conteúdo de qualidade, que as pessoas/empresas acompanham também ajudam a gerar mais credibilidade e a credenciar seu negócio como autoridade, virando a recomendação natural quando alguém precisa de uma solução na área.</p>
								<p>Conteúdo para centralizar conhecimento e distribuir informações</p>
								<p>Vendedores chegam e saem, e muitas vezes levam com eles o conhecimento acumulado. Fazer com que eles e os outros departamentos da empresa (como implantação ou atendimento) externalizem esse conhecimento como estratégia de Marketing também é uma excelente forma de melhorar a gestão do conhecimento internamente.</p>
								<p>A empresa passar a ter um acervo relevante de conteúdo, que é útil para capacitar novos funcionários e também os próprios clientes.</p>
								<p>Muitas vezes as dúvidas de um potencial comprador podem ser respondidas de forma muito mais eficiente e produtiva com um conteúdo completo e muito bem pensado do que com a resposta de um vendedor, tendo que explicar o assunto pela décima vez.</p>
								<p>Follow up consistente e econômico ao longo do tempo</p>
								<p>Como já colocamos, pode ser desestimulante para o vendedor continuar em contato quando as perspectivas de curto prazo são quase irrisórias. E um efeito possível é esse follow up deixar de ser feito.</p>
								<p>Na prática, ao deixar de fazer esse relacionamento perdemos a oportunidade de se consolidar como opção número um para quando o momento adequado chegar ou mesmo de educar o cliente para acelerar esse tipo de decisão.</p>
								<p>Uma boa campanha de automação, com longa duração, ou mesmo emails mais soltos com conteúdo de qualidade podem ajudar a cumprir esse papo, a um preço muito mais acessível do que o contato “um-a-um” de um vendedor experiente (e caro).</p>
								<p>Enriquecimento de informação ao longo do tempo para maximizar chance de conversão</p>
								<p>Por fim, um ponto muitas vezes esquecido mas de muito valor está em enriquecer de informações o perfil do comprador que sua empresa tem mapeado.</p>
								<p>Usar algo como o Lead Tracking para entender quais páginas o potencial cliente visitou, olhar em seu histórico quantas vezes interagiu, quais emails clicou e etc pode fazer toda a diferença no entendimento dos problemas e melhorar a forma de abordagem a esse alvo.</p>
								<p>Esse tipo de funcionalidade também ajuda a ser mais ativo e a identificar mais rapidamente qual é a hora de contato. Por exemplo, receber um alerta que o potencial cliente está visitando o site agora, depois de dois meses, pode indicar que voltou a pensar no assunto e é um bom momento para ligar novamente e tentar marcar uma nova visita.</p>
								<p>Como já falamos, em um mercado de volume limitado, ações que ajudam a garantir maior conversão fazem toda a diferença.</p>
								<p>Observações extras para esse contexto</p>
								<p>Já passamos pelos desafios, expectativas e benefícios, mas ainda existem alguns outros pontos que valem mencionar a respeito desse cenário e que até então não estão cobertos.</p>
								<p>O custo de Inbound é em geral marginal perto de outros investimentos</p>
								<p>Quando falamos de um modelo de vendas no estilo que fazemos na RD (que tem um ciclo um pouco mais curto), o modelo de Inbound tem grande potencial para ser a maior fonte de aquisição de clientes da empresa, trazendo muito volume.</p>
								<p>Já nesse ticket mais alto, pode ser que ele ajude mais no relacionamento e isso já tenha um papel relevante, mas traga também mais um ou outro cliente.</p>
								<p>O ponto principal é pensar que o ROI desse conjunto de ações é em geral muito alto. Os investimentos são muito baixos quando comparamos com outras fontes comuns (como patrocinios ou realização de eventos) e uma única venda já consegue facilmente cobrir os custos e trazer retorno. Resultado: vale muito a pena a garantir que isso seja feito e todas as pontas estejam cobertas.</p>
								<p>Se achar que não vai funcionar, são grandes as chances de não funcionar (profecia autorrealizável)</p>
								<p>Se você não é familiar ao conceito de profecia autorrealizável, vale ler um pouco mais sobre o assunto.</p>
								<p>Basicamente as coisas acabam se tornando o que achamos que vão se tornar. Não por teorias de energia e cosmos mais questionáveis, como “O segredo”, mas simplesmente pela forma como nos relacionamos com o tema.</p>
								<p>Suponha que você, por exemplo não acredita em Inbound nesse contexto, mas vai dar uma chance para se provar errado. Resolve que a realização de eventos é a galinha dos ovos de ouro e não podemos arriscá-los, então direciona as melhores pessoas para lá, deixando a estruturação de Inbound com um estagiário recém contratado e sem treinamento. O que deve acontecer?</p>
								<p>Os eventos trazem resultados, Inbound não. E você ainda vai dizer: “não falei?”</p>
								<p>Se resolver investir Inbound, procure entender o que é preciso para ter resultados e se prepare adequadamente para isso.</p>
								<p>O trabalho toma algum tempo até que os resultados sejam consistentes</p>
								<p>Em geral é possível extrair benefícios logo de cara, mas um projeto de Inbound só dá resultados desproporcionais depois de meses. Vale esse cuidado e paciência também na hora de analisar os resultados.</p>
								<p>O conteúdo tem que ser de qualidade</p>
								<p>O conteúdo é o coração de uma boa estratégia de Marketing Digital e a operação só vai funcionar bem se ele for de qualidade. Assim como a venda muitas vezes é consultiva e extremamente técnica, o conteúdo também deve ser.</p>
								<p>Avalie se o seu time de Marketing tem o conhecimento e a vivência prática necessária para conseguir fazer isso por conta própria. Se não for o caso, distribuir esse conteúdo entre as pessoas técnicas do time e encontre formas eficientes de engajá-los para fazer a diferença.</p>
								<p>Cuidado com a manutenção do status quo</p>
								<p>Muitas vezes a resistência a implementar uma estratégia desse tipo acontece simplesmente pelo desejo de manter as coisas como estão.</p>
								<p>O problema de manter tudo como está agora é que os resultados vão no máximo se manter. Para encontrar novas alavancas de crescimento, redução do custo de aquisição e etc é fundamental acreditar e investir em ações que fujam um pouco do padrão da empresa até então.</p>
							</main>
							<aside class="col-md-3">
								Sidebar
							</aside>
						</div>
					</article>
				</section>

			</div>
			{% include search.html %}
		</main>	
		{% include footer.html %}
		{% include scripts.html %}
		<script>
			$('.posts aside').affix({
				offset: {
					top: ( $('.posts header').offset().top + $('.posts header').height() + 48)
				}
			})
		</script>
	</body>
</html>