<header class="header-rdstation">
	<nav class="navbar navbar-default general-nav">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://rdstation.com.br">
				<span class="logo">RD Station</span>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://rdstation.com.br/funcionalidades">Funcionalidades</a></li>
				<li><a href="http://rdstation.com.br/historias-de-sucesso">Histórias de Sucesso</a></li>
				<li><a href="http://rdstation.com.br/agencias-parceiras">Seja uma Agência Parceira</a></li>
				<a class="btn btn-highlight" data-toggle="modal" data-target="#conversion-modal">Testar Gratuitamente</a>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
