<nav class="global-nav navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#global-nav" aria-expanded="false">
				<span class="sr-only">Menu</span>
			</button>
			<a class="navbar-brand" href="http://resultadosdigitais.com.br" target="_blank">Resultados Digitais</a>
		</div>
		<div class="collapse navbar-collapse" id="global-nav">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Conteúdo </a>
					<ul class="dropdown-menu">
						<li><a href="#">Materiais Educativos </a></li>
						<li><a href="#">Blog </a></li>
						<li><a href="#">Cursos online </a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RD Station </a>
					<ul class="dropdown-menu">
						<li><a href="#">Conheça o aplicativo </a></li>
						<li><a href="#">Implementação </a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Parceria </a>
					<ul class="dropdown-menu">
						<li><a href="#">Programa </a></li>
						<li><a href="#">Consultoria Engage </a></li>
						<li><a href="#">Blog </a></li>
						<li><a href="#">Marketplace </a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sobre </a>
					<ul class="dropdown-menu">
						<li><a href="#">A empresa </a></li>
						<li><a href="#">Trabalhe conosco </a></li>
						<li><a href="#">Eventos </a></li>
						<li><a href="#">Contato </a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>