	<nav class="main-nav navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
					<span class="sr-only">Categorias</span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="main-nav">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Novidades </a>
						<ul class="dropdown-menu">
							<li><a href="#">Novas Funcionalidades </a></li>
							<li><a href="#">Melhorias </a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Posts por funcionalidade </a>
						<ul class="dropdown-menu">
							<li><a href="#">Landing Pages </a></li>
							<li><a href="#">Base de Leads (CRM) </a></li>
							<li><a href="#">Análise e Otimização </a></li>
							<li><a href="#">Painel de Palavras-Chave </a></li>
							<li><a href="#">Email Marketing </a></li>
							<li><a href="#">Monitoramento de Mídiais Sociais </a></li>
							<li><a href="#">Publicação em Mídias Sociais </a></li>
							<li><a href="#">Automação de Marketing/Nutrição de Leads </a></li>
							<li><a href="#">Integrações </a></li>
							<li><a href="#">Lead Scoring </a></li>
							<li><a href="#">Lead Tracking </a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dicas de uso </a>
						<ul class="dropdown-menu">
							<li><a href="#">Passo a passo </a></li>
							<li><a href="#">Dicas </a></li>
							<li><a href="#">Caso de uso </a></li>
						</ul>
					</li>
					<li><a href="#">Exemplos de Clientes </a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" data-toggle="modal" data-target="#search-modal">Busca </a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
