<header>
	<div class="container">
		<a href="#" title="Blog de Marketing Digital de Resultados"><h1>Blog de Marketing de Resultados</h1></a>
	</div>
	<nav class="main-nav navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
					<span class="sr-only">Menu</span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="main-nav">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias </a>
						<ul class="dropdown-menu">
							<li><a href="#">Categoria 01 </a></li>
							<li><a href="#">Categoria 02 </a></li>
							<li><a href="#">Categoria 03 </a></li>
							<li><a href="#">Todas as categorias </a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Percursos </a>
						<ul class="dropdown-menu">
							<li><a href="#">Percurso 01 </a></li>
							<li><a href="#">Percurso 02 </a></li>
							<li><a href="#">Percurso 03 </a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Especiais </a>
						<ul class="dropdown-menu">
							<li><a href="#">Especial 01 </a></li>
							<li><a href="#">Especial 02 </a></li>
							<li><a href="#">Especial 03 </a></li>
						</ul>
					</li>
					<li><a href="#">Materiais Educativos </a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" data-toggle="modal" data-target="#search-modal">Busca </a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>