<div class="modal fade search-box" id="search-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<h2>Busca</h2>
			<form>
				<div class="input-group">
					<input type="search" class="form-control" placeholder="Insira aqui os termos de busca" required>
					<span class="input-group-btn"><button class="btn btn-default" type="button">Pesquisar</button></span>
				</div>
			</form>
			<a href="javascript:void(0);" data-dismiss="modal">Fechar</a>
		</div>
	</div>
</div>
