.post-list{
	list-style: none;
	margin: -4px 0 0 0;
	padding: 0;
	li{
		& + li{
			border-top: 1px solid lighten($gray-lines, 10%);
			padding-top: 27px;
		}
		a{
			color: $gray-dark;
			display: block;
			font-weight: 400;
			overflow: hidden;
			img{
				border-radius: 3px;
				height: auto;
				margin: 4px 0 32px 0;
				max-width: 260px;
				width: 100%
			}
			strong{
				font-weight: 700;
			}
			&:hover, &:focus{
				color: $gray-dark;
				h2{
					color: $theme-secondary-color;
				}
			}
			.excerpt{
				font-family: $font-family-serif;
				margin: 8px 0 16px 0;
				letter-spacing: -0.25px;
			}
			.info{
				font-size: 0.8125em;
				margin: 8px 0 0 0;
				.sharing{
					span{
						font-weight: 700;
					}
				}
			}
		}
	}
}

.category-info{
	margin-bottom: 64px;
	padding-bottom: 24px;
	position: relative;
	&:after{
		background: $gray-lines;
		bottom: 0;
		content: '';
		display: block;
		height:1px;
		left: 15px;
		position: absolute;
		right: 15px;
	}
	h1{
		font-size: 2em;
	    font-weight: 900;
	    letter-spacing: -1px;
	    line-height: 1.33333;
	    margin: 0;
	}
	p{
		font-family: $font-family-serif;
		letter-spacing: -0.25px;
		margin-top: 8px 0 0 0;
		&.posts-count{
			font-family: $font-family-sans-serif;
			font-size: 0.8125em;
			font-weight: 300;
			letter-spacing: 0;
			line-height: 1.25;
			margin: 0 0 14px 0;
		}
		& + ul{
			margin-top: 6px;
		}
	}
	ul{
		font-family: $font-family-serif;
		letter-spacing: -0.25px;
		margin: 0;
		padding: 0 0 0 16px;
	}
}

.search-info{
	margin-bottom: 64px;
	padding-bottom: 24px;
	position: relative;
	&:after{
		background: $gray-lines;
		bottom: 0;
		content: '';
		display: block;
		height:1px;
		left: 15px;
		position: absolute;
		right: 15px;
	}
	h2{
		font-size: 2em;
		margin: 0 0 6px 0;
	}
	p{
		margin-top: 16px 0 0 0;
		&.posts-count{
			font-size: 0.8125em;
			font-weight: 300;
			line-height: 1.25;
		}
	}
}

.author-info{
	margin: 0 0 47px;
	overflow: hidden;
	padding: 0 15px 24px;
	position: relative;
	width: 100%;
	&:after{
		background: $gray-lines;
		bottom: 0;
		content: '';
		display: block;
		height:1px;
		left: 15px;
		position: absolute;
		right: 15px;
	}
	figure{
		display: none;
		position: absolute;
		img{
			border-radius: 112px;
		}
	}
	& > div{
		padding: 0;
		vertical-align: middle;
		h2{
			font-size: 2em;
		}
		p{
			font-family: $font-family-serif;
			margin: 0;
			&.posts-count{
				font-family: $font-family-sans-serif;
				font-size: 0.8125em;
				font-weight: 300;
				line-height: 1.25;
				margin: 0 0 8px 0;
			}
		}
		.social{
			display: inline-block;
			list-style: none;
			margin: 16px 0 0;
			padding: 0;
			li{
				display: inline-block;
				a{
					border-radius: 32px;
					display: block;
					height: 32px;
					margin: 0;
					position: relative;
					text-indent: -5000px;
					width: 32px;
					&:after{
						color: $white;
						display: block;
						font-family: $font-family-icons;
						font-size: 15px;
						height: 32px;
						left: 0;
						line-height: 32px;
						position: absolute;
						text-align: center;
						text-indent: 0;
						top: 0;
						vertical-align: middle;
						width: 32px;
					}
					&.facebook{
						background: rgb(66,87,156);
						&:after{
							content: '\f09a';
						}
					}
					&.twitter{
						background: rgb(84,166,229);
						&:after{
							content: '\f099';
						}
					}
					&.google{
						background: rgb(206,83,51);
						&:after{
							content: '\f0d5';
						}
					}
					&.linkedin{
						background: rgb(53,121,186);
						&:after{
							content: '\f0e1';
						}
					}
					&.website{
						background: $theme-primary-color;
						&:after{
							content: '\f0c1';
						}
					}
					&.snapchat{
						background: rgb(255,255,0);
						&:after{
							content: '\f2ac';
							text-shadow: -1px 0 rgba(0,0,0,0.25), 0 1px rgba(0,0,0,0.25), 1px 0 rgba(0,0,0,0.25), 0 -1px rgba(0,0,0,0.25);
						}
					}
				}
				& + li{
					margin: 0 0 0 4px;
				}
			}
		}
	}
}

aside{
	margin-top: 64px;
	h2{
		display: none;
	}
	section{
		& + section{
			margin-top: 32px;
		}
	}
}
@media (min-width: $screen-md){
	aside{
		margin-top: 0;
	}
}

@media (min-width: $screen-sm){
	.post-list{
		li{
			a{
				div{
					float: left;
					padding-right: 30px;
					width: 33.333333%;
					& + div{
						padding-right: 0;
						width: 66.66666%;
					}
				}
			}
		}
	}
	.author-info{
		display: table;
		min-height: 144px;
		padding: 0 15px 32px;
		figure{
			display: inline-block;
		}
		& > div{
			display: table-cell;
			min-height: 112px;
			padding: 0 0 0 142px;
		}
	}
}
