#preloader {
  background: #ffffff url("https://s3.amazonaws.com/rd-marketing-objects/lp-segmentos/images/preloader.svg") no-repeat center center;
  height: 100%;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
