/* Search */

.modal-content{
	border: none;
	background: none;
	box-shadow: none;
}

.search-box{
	.modal-content{
		padding: 96px 15px 0;
		position: relative;
		h2{
			color: $theme-secondary-color;
			font-size: 2em;
			font-weight: 900;
			letter-spacing: -1.5px;
			line-height: 1.5;
			margin: 0 0 32px;
			position: relative;
		}
		form{
			margin: 0 0 48px 0;
		}
		input, button{
			background: none;
			border: 0;
			border-bottom: 1px solid $gray-lines;
			border-radius: 0;
			font-size: 1em;
			font-weight: 300;
		}
		input{
			padding: 8px 0;
		}
		button{
			height: 32px;
			padding: 0;
			position: relative;
			width: 32px;
			&:hover, &:focus{
				background: none;
				border-bottom: 1px solid $gray-lines;
			}
			&:after{
				bottom: 0;
				content: '\f061';
				color: $gray;
				display: block;
				font-family: $font-family-icons;
				font-size: 16px;
				height: 32px;
				line-height: 36px;
				position: absolute;
				right: 0;
				text-align: center;
				text-indent: 0;
				width: 32px;
			}
		}
		.categories-list{
			list-style: none;
			margin: 32px -20px 0;
			padding: 0;
			a{
				border-bottom: none;
				font-family: $font-family-sans-serif;
				letter-spacing: -0.5px;
			}
			& > li{
				box-sizing: border-box;
				float: left;
				margin: 0;
				padding: 0 20px;
				width: 20%;
				ul{
					list-style: none;
					margin: 8px 0 0 0;
					padding: 0;
    				& > li{
    					a{
    						font-weight: 300;
    					}
    					& + li{
    						margin-top: 8px;
    					}
					}
				}
			}
		}
	}
	&:after{
		content: '\00d7';
		color: $gray-light;
		cursor: pointer;
		font-size: 3em;
		font-weight: 300;
		position: absolute;
		right: 16px;
		top: 0;
	}
}

.search{
	main{
		h3{
			font-weight: 300;
			letter-spacing: -0.5px;
			margin: 0 0 16px 0;
		}
		form{
			margin: 0 0 32px 0;
		}
		p +  ul{
			margin: 8px 0 0 0;
			padding: 0 0 0 20px;
		}
	}
}
