.page-template-page-epic{
  main{
    .carousel {
      margin: (2 * $v-space) 0;
      .carousel-control.left:before {
        @include font-icon("\f053");
        color: #fff;
        left: 16px;
        position: absolute;
        top: 50%;
      }
      .carousel-control.right:before {
        @include font-icon("\f054");
        color: #fff;
        position: absolute;
        right: 16px;
        top: 50%;
      }
      br {
        content: "";
      }
    }
  }
}
