.carousel {
  margin: (2 * $v-space) 0;
  .carousel-control.left:before {
    @include font-icon("\f053");
    position: absolute;
    top: 50%;
    color: #fff;
    left: 16px;
  }
  .carousel-control.right:before {
    @include font-icon("\f054");
    position: absolute;
    top: 50%;
    color: #fff;
    right: 16px;
  }
  br {
    content: "";
  }
}
