.page-template-page-epic{
  main{
    .nav-stacked {
      margin: $v-space 0;
      padding-left: 0;
      display: none;
    }
    .spy-button {
      a {
        background-color: $gray-lighter;
        border-radius: 4px;
        cursor: pointer;
        margin: 4px 0;
        padding: 16px ($col-pad - 10);
        position: relative;
      }
      &.active a {
        background-color: $epic-main-color;
        color: $white;
        &:after {
          @include font-icon("\f061");
          position: absolute;
          right: $v-space;
          top: 20px;
          color: $white;
        }
      }
    }
  }
}

@media (min-width: $screen-md){
  .page-template-page-epic{
    main{
      .nav-stacked {
        display: block;
      }
    }
  }
}
